/* .main{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
} */
*{
  margin: 0;
  padding: 0;
}
.main{ 

}
.content{
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  overflow-y: auto;
}
.mt20{
  margin-top: 20px;
}
.flex{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}
.main_space{
  display: flex;
  justify-content: space-between;
}
.main_alignCenter{
  display: flex;
  align-items: center
}
.main_center{
  display: flex;
  justify-content: center;
}